.imagemap {
    background-color: rgba(15, 15, 115, 0.08);
    padding: 5px;
}

.imagemap-content {
    background-color: rgba(15, 15, 115, 0.08);
    border-right: 1px solid #fff;
    padding: 5px;
}

.desc-map {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-inside {
    background-color: rgba(1, 5, 115, 0.1);
    display: grid;
    grid-template-columns: 120px 1fr;
    border-bottom: 1px solid #fff;
}

.grid-content {
    padding-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.img_estado {

}

.titulo {
    margin-top: 30px;
}

.cidades{

}

.collapsible {
  background-color: rgba(1, 5, 115, 0.1);
  color: #000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-bottom: 1px solid #fff;
}

.active, .collapsible:hover {
  background-color: rgba(0, 3, 69, 0.5);
}

.collapse-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
