/*
 * Basic CSS starts
 */

.mySlides {display:none}
.w3-badge {cursor:pointer}
.w3-badge {height:13px; width:13px; padding:0}

* {box-sizing: border-box}

html {
	scroll-behavior: smooth;
}

body{
	background-color: #eee;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	color: #545454;
	-webkit-font-smoothing: antialiased;
}

img {
	vertical-align: middle;
}

button {
	width: 25px;
}

h2,h3,h4,h5,h6{
	font-family: Helvetica, sans-serif;
	font-weight: 600;
}
h1{
	font-family: Helvetica, sans-serif;
	font-weight: 600;
	color: #fff;
	margin: auto;
}

p{
	margin:0;
	padding:0;
	color: #787878;
}

#upperbold {
	text-transform: uppercase;
	font-weight: bold;
}

/*
 * Basic CSS ends
 */

header .navbar {
	margin: 0;
	padding-bottom: 0px;
	background: #9BB1C5;
	border: 0px;
	border-radius: 0%;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	box-shadow: 0 1px 15px rgba(0,0,0,0.2);
}
header .navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	margin: 15px 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #fff;
}

header .navbar-top {
	padding-top: 25px;
	padding-bottom: 25px;
	height: 180px;
	background: #eee;
}

header .navbar-default .navbar-nav>li>a:hover,
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li.open>a:hover,
header .navbar-default .navbar-nav>li.open>a:focus {
	background: #fff;
}

header .navbar-nav .dropdown-menu {
	top: 54px;
	border-radius: 3px;
}
header .navbar-nav .dropdown-menu:after,
header .navbar-nav .dropdown-menu:before {
	bottom: 100%;
	right: 120px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

header .navbar-nav .dropdown-menu:after {
	border-color: rgba(240, 253, 255, 0);
	border-bottom-color: #fff;
	border-width: 7px;
}

header .navbar-nav .dropdown-menu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ccc;
	border-width: 8px;
	margin-right: -1px;
}
header .navbar-brand {
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	/* top: 20px; */
	height: auto;
}
header .navbar-brand img {
	/* top: 20px; */
	position: relative;
	max-width: 165px;
}
header .navbar-text {
	position: relative;
	text-shadow: 2px 3px rgba(0,0,0,0.2);
}

.menu-bar {
	display: none;
	z-index: 1;
	position: fixed;
	right: 3%;
	bottom: 3%;
	background-color: #008cba;
	/* border: 1px solid #fff; */
	box-shadow: 2px 3px 10px rgba(0,0,0,0.5);
}

.menu-bar a {
	display: block;
	text-align: center;
	padding: 13px;
	transition: all 0.3s ease;
	color: #fff;
	font-size: 15px;
}

.menu-bar a:hover {
	background-color: #007095;
}

.top-container {
	margin: 23px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width:768px) {
	.top-container {
		width: 750px
	}
}

@media (min-width:992px) {
	.top-container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.top-container {
		width: 1170px
	}
}

/*
 * Social bar
 */

.icon-bar {
	z-index: 1;
	position: fixed;
	top: 50%;
	opacity: 85%;
	box-shadow: 2px 3px 10px rgba(0,0,0,0.5);
	text-shadow: 3px 4px rgba(0,0,0,0.2);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 18px;
}

.icon-bar a:hover {
	background-color: #000;
}

.facebook {
	background: #3B5998;
	color: white;
}

.instagram {
	background: #833AB4;
	color: white;
}

.twitter {
	background: #55ACEE;
	color: white;
}

.google {
	background: #dd4b39;
	color: white;
}

.linkedin {
	background: #007bb5;
	color: white;
}

.youtube {
	background: #bb0000;
	color: white;
}

/*
 * Banner
 */

.banner {
	padding-top: 0px;
	padding-bottom: 0px;
}

.banner img {
	width: 100%;
	height: 620px;
}

.banner #slide-content {
	border: 1px solid #000;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	opacity: 70%;
}

.slideshow-container {
	position: relative;
	margin: auto;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.dot-active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fading {
	-webkit-animation-name: fading;
	-webkit-animation-duration: 2s;
	animation-name: fading;
	animation-duration: 2s;
}

@-webkit-keyframes fading {
	from {opacity: .3}
	to {opacity: 1}
}

@keyframes fading {
	from {opacity: .3}
	to {opacity: 1}
}

/*
 * Content
 */
.container-content {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.content {
    background-color:rgba(255, 255, 255, 1);
    padding: 20px;
	width: 75%;
    margin-left: auto;
	margin-right: auto;
    border: 1px solid #ccc;
}

/*
 * footer
 */

footer {
	margin-top: 40px;
	padding: 30px 0;
	background: #9BB1C5;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
}
footer.ffoot {margin-top: 0;}
footer p {
	font-size: 13px;
	line-height: 25px;
	color: #fff;
}
footer p a {
	font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.055em;
	color: #fff;
}
footer p a:hover { color: #a93c01; }

footer .support h2 {
	padding: 30px;
	border-top: 1px solid #fff;
	color: #fff;
}

footer .copy-right {
	margin-top: 5px;
}

/*
 * Responsive CSS
 */

/*
 * Mobile phones
 */
@media (max-width: 480px){

}

/*
 * Tablets
 */
@media (max-width: 767px){
	header .navbar-brand img { max-width: 140px; top: 3px; }
	header .navbar-nav .dropdown-menu:after,
	header .navbar-nav .dropdown-menu:before { display: none;}
	header .navbar-nav .dropdown-menu li a { color: #fff !important;}
	header .navbar-default .navbar-toggle .icon-bar {background: #fff;	}
	header .navbar-collapse { border: 0; box-shadow: none; }
	header .navbar-default .navbar-toggle,
	header .navbar-default .navbar-toggle:hover,
	header .navbar-default .navbar-toggle:focus	{
		background: transparent;
		border-color: #fff;
	}

	.default-heading {text-align: center;}
}

/*
 * Desktop
 */
@media (max-width: 991px){

}
