---
layout: page
title: Profissionais
---
<div class="description">
    <p>Aqui você encontra os perfis de cada iluminador presente no mapa e informações como resumo do currículo, formações e cidade de atuação. Saiba mais!</p>
</div>

<div style="display:flex;">
    <div id="column01" class="column-professional">
        <div class="state">
            <h6>Acre</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Acre" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Alagoas</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Alagoas" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Amapá</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Amapá" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Amazonas</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Amazonas" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Bahia</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Bahia" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Ceará</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Ceará" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Distrito Federal</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Distrito Federal" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Espírito Santo</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Espírito Santo" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Goiás</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Goiás" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- ============================================================================================================= -->

    <div id="column02" class="column-professional">
        <div class="state">
            <h6>Maranhão</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Maranhão" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Mato Grosso</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Mato Grosso" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Mato Grosso do Sul</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Mato Grosso do Sul" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Minas Gerais</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Minas Gerais" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Pará</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Pará" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Paraíba</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Paraíba" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Paraná</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Paraná" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Pernambuco</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Pernambuco" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Piauí</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Piauí" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- ============================================================================================================= -->

    <div id="column03" class="column-professional" style="margin-right:0px">
        <div class="state">
            <h6>Rio de Janeiro</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Rio de Janeiro" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Rio Grande do Norte</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Rio Grande do Norte" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Rio Grande do Sul</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Rio Grande do Sul" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Rondônia</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Rondônia" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Santa Catarina</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Santa Catarina" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>São Paulo</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "São Paulo" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Sergipe</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Sergipe" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h6>Tocantins</h6>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Tocantins" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
