---
layout: page
title: Profissionais
---
<div class="description">
    <p>Aqui você encontra os perfis de cada iluminador presente no mapa e informações como resumo do currículo, formações e cidade de atuação. Saiba mais!</p>
</div>

<div style="display:flex;">
    <div id="column01" class="column-professional">
        <div class="state">
            <h4>Acre</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Acre" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Alagoas</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Alagoas" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Amapá</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Amapá" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Amazonas</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Amazonas" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Bahia</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Bahia" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Ceará</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Ceará" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Distrito Federal</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Distrito Federal" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Espírito Santo</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Espírito Santo" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Goiás</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Goiás" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- ============================================================================================================= -->

    <div id="column02" class="column-professional">
        <div class="state">
            <h4>Maranhão</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Maranhão" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Mato Grosso</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Mato Grosso" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Mato Grosso do Sul</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Mato Grosso do Sul" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Minas Gerais</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Minas Gerais" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Pará</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Pará" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Paraíba</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Paraíba" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Paraná</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Paraná" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Pernambuco</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Pernambuco" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Piauí</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Piauí" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- ============================================================================================================= -->

    <div id="column03" class="column-professional" style="margin-right:0px">
        <div class="state">
            <h4>Rio de Janeiro</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Rio de Janeiro" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Rio Grande do Norte</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Rio Grande do Norte" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Rio Grande do Sul</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Rio Grande do Sul" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Rondônia</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Rondônia" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Santa Catarina</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Santa Catarina" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>São Paulo</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "São Paulo" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Sergipe</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Sergipe" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="state">
            <h4>Tocantins</h4>
            {% for perfil_item in site.perfis %}
                {% if perfil_item.state == "Tocantins" %}
                    <div class="basic_list" onclick="location.href='{{ perfil_item.url }}'">
                        <p class="nome">{{ perfil_item.name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
