<header>
    <!-- navigation -->
    <nav id="top-bar" class="top-bar" data-topbar>
        <div class="container">
            <section class="top-bar-section">
                <ul class="left">
                    <li><a id="upperbold" href="/index.html">Início</a></li>
                    <li class="divider"></li>
                    <li><a id="upperbold" href="/sobre.html">Sobre</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown not-click">
                        <a id="upperbold">Produções</a>
                        <ul class="dropdown">
                            <li><a href="#">Espetáculos</a></li>
                            <li><a href="/trabalhos_academicos.html">Trabalhos Acadêmicos</a></li>
                            <li><a href="/videos.html">Vídeos</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a id="upperbold" href="/profissionais.html">Profissionais</a></li>
                    <li class="divider"></li>
                    <li><a id="upperbold" href="/contato.html">Contato</a></li>
                </ul>
                <ul class="right" style="padding:5px; margin-right:22%;">
                    <li>
                        <div>
                            <form action="">
                                <input type="text" placeholder="Buscar..." name="search">
                                <button class="button-search" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </nav>
</header>
