<header>
    <!-- navigation -->
    <nav id="top-bar" class="top-bar" data-topbar>
        <div class="container">
            <section class="top-bar-section">
                <ul class="left">
                    <li><a href="/index.html">Início</a></li>
                    <li class="divider"></li>
                    <li><a href="/sobre.html">Sobre</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown not-click">
                        <a >Produções</a>
                        <ul class="dropdown">
                            <!-- <li><a href="#">Espetáculos</a></li> -->
                            <li><a href="/trabalhos_academicos.html">Trabalhos Acadêmicos</a></li>
                            <li><a href="/videos.html">Vídeos</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/profissionais.html">Profissionais</a></li>
                    <li class="divider"></li>
                    <li><a href="/contato.html">Contato</a></li>
                </ul>
                <ul class="left" style="margin-top:7px; margin-left:15px; /*margin-right:45%; caso usar 'right'*/">
                    <li>
                        <button class="button-search" onclick="location.href='/buscar.html'"><i class="fa fa-search"></i></button>
                    </li>
                </ul>
            </section>
        </div>
    </nav>
</header>
