<table id="temporary-table" style="display:none;">
    {% for perfil_item in site.perfis %}
        <tr>
            <td> {{ perfil_item.alias }} </td>
            <td> {{ perfil_item.permalink }} </td>
            <td> {{ perfil_item.latitude }} </td>
            <td> {{ perfil_item.longitude }} </td>
        </tr>
    {% endfor %}
</table>

<div id="spacetop-bot">
    <div class="content">
        <div class="description" style="text-align:center;">
            <h2>Iluminadores no Brasil</h2>
            <p>Navegue pelo mapa para encontrar iluminadores de todas regiões do Brasil. É só clicar e conferir!</p>
        </div>
        <div id="mapid" style="width:100%; height:700px;"></div>
        <script>

            var mymap = L.map('mapid').setView([-15.602, -48.604], 5);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1
            }).addTo(mymap);

            loadLocation();

        </script>
    </div>
</div>
