.grid-profile {
    /* padding-top: 15px; */
    display: grid;
    grid-template-columns: 280px 1fr;
    /* border: 1px solid #a6a6a6; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.basic_list {
    width: 100%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* text-align: center; */
    /* font-family: arial; */
    cursor: pointer;
    /* border: 1px solid #ccc; */
    background-color: #e3e3e3;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.card {
    max-width: 300px;
    max-height: 520px;
    text-align: center;
    font-family: arial;
    background-color: #f2f2f2;
    border: 1px solid #a6a6a6;
}

.nome {
    /* margin-top: 20px; */
    color: black;
    font-size: 14px;
}
.title {
    margin-top: 20px;
    color: grey;
    font-size: 17px;
}

.content-profile {
    padding: 10px;
    width: 100%;
    /* border-left: 1px solid #a6a6a6; */
    text-align: justify;
}

.column-professional{
    width:100%;
    max-width:450px;
    margin-right:40px;
}

.state{
    border: 1px solid #a6a6a6;
    margin-bottom: 10px;
    padding:10px;
    /* padding-bottom:0px; */
}
