/*
 * Basic CSS starts
 */

.gsc-adBlock { display: none !important; }

.mySlides {display:none}
.w3-badge {cursor:pointer}
.w3-badge {height:13px; width:13px; padding:0}

* {box-sizing: border-box}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	color: #545454;
	-webkit-font-smoothing: antialiased;
}

.button-search {
	border: 1px solid #fff;
	width: 65px;
	height: 33px;
}

h2,h3,h4,h5,h6 {
	font-family: Helvetica, sans-serif;
	font-weight: 600;
}
h1 {
	font-family: Helvetica, sans-serif;
	font-weight: 600;
	color: #fff;
	margin: auto;
}

p {
	margin:0;
	padding:0;
	color: #787878;
}

#upperbold {
	text-transform: uppercase;
	/* font-weight: bold; */
}

.container-content {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0 auto;
}

/*
 * Basic CSS ends
 */

header .navbar {
	margin: 0;
	padding-bottom: 0px;
	background: #9BB1C5;
	border: 0px;
	border-radius: 0%;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	box-shadow: 0 1px 15px rgba(0,0,0,0.2);
}
header .navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	margin: 15px 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #fff;
}

header .navbar-top {
	height: 150px;
	background: #ea792b;
}

header .navbar-default .navbar-nav>li>a:hover,
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li.open>a:hover,
header .navbar-default .navbar-nav>li.open>a:focus {
	background: #fff;
}

header .navbar-nav .dropdown-menu {
	top: 54px;
	border-radius: 3px;
}
header .navbar-nav .dropdown-menu:after,
header .navbar-nav .dropdown-menu:before {
	bottom: 100%;
	right: 120px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

header .navbar-nav .dropdown-menu:after {
	border-color: rgba(240, 253, 255, 0);
	border-bottom-color: #fff;
	border-width: 7px;
}

header .navbar-nav .dropdown-menu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ccc;
	border-width: 8px;
	margin-right: -1px;
}
header .navbar-brand {
	padding: 0px;
	height: auto;
	position: absolute;
}
header .navbar-brand img {
	max-width: 150px;
	max-height: 150px;
}
header .navbar-text {
	position: relative;
	text-shadow: 2px 3px rgba(0,0,0,0.2);
}

.menu-bar {
	display: none;
	z-index: 1;
	position: fixed;
	right: 3%;
	bottom: 3%;
	background-color: #ea792b;
	/* border: 1px solid #fff; */
	/* box-shadow: 2px 3px 10px rgba(0,0,0,0.5); */
}

.menu-bar a {
	display: block;
	text-align: center;
	padding: 13px;
	transition: all 0.3s ease;
	color: #fff;
	font-size: 15px;
}

.menu-bar a:hover {
	background-color: #ffc196;
}

.top-container {
	margin: 0px;
}
.left-logo {
	margin-left: 5%;
}
.right-logo {
	right: 8%;
}

@media (min-width:768px) {
	.top-container {
		width: 750px
	}
}

@media (min-width:992px) {
	.top-container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.top-container {
		width: 1170px
	}
}

/*
 * Form email
 */

textarea {
	height: 150px;
}

.contato {
	/* display: flex; */
	/* justify-content: center; */
	width: 100%;
	max-width: 600px;
}

.form {
	display: flex;
	flex-direction: column;
}

.field {
	padding-left: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
}

/*
 * Search
 */

.search_box {
	display: none;
	position: fixed;
	overflow: auto;
    z-index: 9999;
	width: 100%;
	height: 100%;
    padding-top: 50px;
	background-color: rgba(71, 78, 93, 0.6);
}

.search_box_content {
	margin: auto;
	width: 50%;
	height: 50%;
}

.search_box_form {
	max-width: 925px;
	max-height: 650px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 1);
}
.search_box_form form {
	height: 34px;
}

.search_input {
	/* position: relative; */
	float: left;
	width: 90%;
	margin-right: 5px;
	margin-bottom: 5px;
}

.search_button_modal {
	float: left;
	width: 9%;
	height: 34px;
}

.gcse-searchresults-only {
	padding: 5px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
}

/*
 * Social bar
 */

.icon-bar {
	z-index: 1;
	position: fixed;
	right: 0;
	top: 50%;
	opacity: 85%;
	box-shadow: 2px 3px 10px rgba(0,0,0,0.5);
	text-shadow: 3px 4px rgba(0,0,0,0.2);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 18px;
}

.icon-bar a:hover {
	background-color: #000;
}

.facebook {
	background: #3B5998;
	color: white;
}

.instagram {
	background: #833AB4;
	color: white;
}

.twitter {
	background: #55ACEE;
	color: white;
}

.google {
	background: #dd4b39;
	color: white;
}

.linkedin {
	background: #007bb5;
	color: white;
}

.youtube {
	background: #bb0000;
	color: white;
}

/*
 * Banner
 */

.banner {
	padding-top: 0px;
	padding-bottom: 0px;
}

.banner img {
	width: 100%;
	height: 300px;
}

.banner #slide-content {
	border: 1px solid #000;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	opacity: 70%;
}

.slideshow-container {
	width: 75%;
	position: relative;
	margin: auto;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.dot-active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fading {
	-webkit-animation-name: fading;
	-webkit-animation-duration: 2s;
	animation-name: fading;
	animation-duration: 2s;
}

@-webkit-keyframes fading {
	from {opacity: .3}
	to {opacity: 1}
}

@keyframes fading {
	from {opacity: .3}
	to {opacity: 1}
}

/*
 * Content
 */

.description {
	padding-bottom: 20px;
    text-align: left;
}

#spacetop-bot {
	padding-top: 20px;
	padding-bottom: 20px;
}

.content {
    background-color:rgba(255, 255, 255, 1);
    padding: 20px;
	width: 75%;
    margin-left: auto;
	margin-right: auto;
    border: 1px solid #ccc;
}

#inputSearchTable {
	background-image: url('/assets/img/searchicon.png');
	background-position: 6px 6px;
	background-repeat: no-repeat;
	width: 250px;
	font-size: 16px;
	padding: 14px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 8px;
}

/*
 * footer
 */

footer {
	margin-top: 40px;
	padding: 30px 0;
	background: #f9ee48; /* #5576a3 */
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
}
footer.ffoot {margin-top: 0;}
footer p {
	font-size: 13px;
	line-height: 25px;
	color: #000;
}
footer p a {
	font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.055em;
	color: #000;
}
footer p a:hover { color: #a93c01; }

footer .support {
	padding-bottom: 25px;
	border-bottom: 1px solid #000;
}
footer .support h2 {
	margin-bottom: 15px;
	padding: 0px;
	color: #000;
}

footer .copy-right {
	margin-top: 5px;
}

/*
 * Responsive CSS
 */

/*
 * Mobile phones
 */
@media (max-width: 480px) {

}

/*
 * Tablets
 */
@media (max-width: 767px) {
	header .navbar-brand img { max-width: 140px; top: 3px; }
	header .navbar-nav .dropdown-menu:after,
	header .navbar-nav .dropdown-menu:before { display: none;}
	header .navbar-nav .dropdown-menu li a { color: #fff !important;}
	header .navbar-default .navbar-toggle .icon-bar {background: #fff;	}
	header .navbar-collapse { border: 0; box-shadow: none; }
	header .navbar-default .navbar-toggle,
	header .navbar-default .navbar-toggle:hover,
	header .navbar-default .navbar-toggle:focus	{
		background: transparent;
		border-color: #fff;
	}

	.default-heading {text-align: center;}
}

/*
 * Desktop
 */
@media (max-width: 991px) {

}
